        body, html {
            margin: 0;
            padding: 0;
            height: 100%;
            font-family: 'Segoe UI', sans-serif;
            color: white;
        }

        .parallax {
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            height: 100vh; 
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .first-image {
            background-image: url('https://i.pinimg.com/736x/a7/77/2d/a7772df6429b1a9bc480b9a7ce86900b.jpg'); 
        }

        .second-image {
            background-image: url('https://i.pinimg.com/736x/6e/0b/c9/6e0bc9650618364f7535970467177c26.jpg');
        }

        .black-block {
            background-color: #111;
            color: #ddd;
            padding: 100px 50px;
            text-align: center;
            font-size: 1.2rem;
            line-height: 1.8;
        }